/*Flexbox for overall container*/
.flex-container#overall-page {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*For Navigation Bar*/
/* Add a black background color to the top navigation */
.navBar {
    background-color: #5656EB;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.navBar .items a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.navBar .items a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.navBar .items  a.active {
    background-color: #C66AD8;
    color: white;
}

/*For autocomplete boxes */
* { box-sizing: border-box; }

body {
    font: 16px Arial;
}
/*Hero section*/
.flex-container#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
    background-color: #CCBC71;
}

/*Results section*/
.flex-container#results{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: #78A778;
}

/*Footer section*/
.flex-container#footer{
    display:flex;
    background-color: #5656EB;
    height:100px;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}
input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}
input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}
div.button {
    flex-direction: column;
    alignment-baseline: center;
}
button {
    font-size: 16px Arial;
    width: 120px;
    height: 50px;
    background-color: #5656EB;
    color: white;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}
