/*adding background color for the entire page*/
body {
    background-image: linear-gradient(cornflowerblue, mediumpurple, cornflowerblue, mediumpurple);
    font: 16px Arial;
}
/*For the preloading screen*/
.preloader-container {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: scroll;
    position: fixed;
    z-index: 9000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #f1f1f2;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}

.preloader-container .animation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.preloader-container .animation #skip {
    color: #20495a;
    cursor: pointer;
    font-family: 'Rampart One', cursive;
    font-size: 1.75em;
    position: absolute;
    margin: 0 auto;
    bottom: 20vh;
}

.hidden {
    display: none;
}

.visuallyhidden {
    opacity: 0;
}
/*The end of preloading screen*/

/*Flexbox for overall container*/
/*.flex-container#overall-page {*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*For Navigation Bar*/
/* Add a black background color to the top navigation */


/*For autocomplete boxes */
* { box-sizing: border-box; }
/*Navbar*/
.flex-container#navigation{
    display: flex;
    justify-content: center;
}
div.navBar {
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    position:relative;
    background: rgb(63,67,251);
    background: radial-gradient(circle, rgba(63,67,251,1) 0%, rgba(252,70,107,1) 100%);
}

div.navBar a{
    margin: auto;
    font-family: 'Slackey', cursive;
    font-size: 22px;
    position: relative;
    justify-content: center;
    text-align: center;
}
/*Navbar animation*/
div.navBar a:hover {
    color: #ffffff;
}

div.navBar a:before, div.navBar a:after {
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
}

div.navBar a:before {
    left: 0px;
    top: 0px;
}

div.navBar a:after {
    right: 0px;
    bottom: 0px;
}

div.navBar a:hover:before, div.navBar a:hover:after {
    opacity: 1;
    width: 100%;
    color: white;
}
/*quote*/
section.quote{
    font-family: 'Slackey', cursive;
    font-size: 18px;
    margin-top: -80px;
    display: flex;
    justify-content: center;
    color: yellow;
}

.flex-container h1 {
    font-size: 30px;
}

/*Hero section*/
div.hero-box {
    display: flex;
    border: solid black;
    margin: auto;
    width: 60vh;
    border-width: 4px 5px 4px 6px;
    border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
    transform: rotate(2deg);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.hero-box-inner{
    font-family: 'Rampart One', cursive;
    font-size: 30px;
    margin-bottom: 8%;
    transform: rotate(-2deg);
}

.flex-container#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    text-align:center;
}
div.button {
    margin: 3%;
}
/*Results section*/
.flex-container#results{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

/*Footer section*/
.flex-container#footer{
    display:flex;
    flex-direction:column;
    background-color: #5656EB;
    height:300px;
    justify-content: center;
    text-align: center;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

input {
    border: 5px solid transparent;
    border-radius: 8px;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    width: 50%;
}
input[type=text] {
    background-color: #c7a7c7;
    width: 20%;
    transition: width 0.4s ease-in-out;
    text-align:center;
}
input[type=text]:focus {
    background-color: #ffffff;
    width: 100%;
    text-align:center;
}

div.button {
    flex-direction: column;
    alignment-baseline: center;
}
button {
    font-size: 16px Arial;
    width: 120px;
    height: 50px;
    background-color: #5656EB;
    color: white;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

/*footer icon animation */
div#footer-icons{
    display: flex;
}
ul {
    display: flex;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
}

ul li {
    list-style: none;
}

ul li a {
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
}


ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
}

ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}

ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}

ul li a:hover:before {
    top: 0;
}

ul li:nth-child(1) a:before{
    background: #3b5999;
}

ul li:nth-child(2) a:before{
    background: #55acee;
}

ul li:nth-child(3) a:before {
    background: #0077b5;
}

ul li:nth-child(4) a:before {
    background: #dd4b39;
}
