/*For the preloading screen*/
.preloader-container {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: scroll;
    position: fixed;
    z-index: 9000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #f1f1f2;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}

.preloader-container .animation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.preloader-container .animation #skip {
    color: #20495a;
    cursor: pointer;
    font-family: montserrat, sans-serif;
    font-size: 1.75em;
    position: absolute;
    margin: 0 auto;
    bottom: 20vh;
}

.hidden {
    display: none;
}

.visuallyhidden {
    opacity: 0;
}
/*The end of preloading screen*/

/*Flexbox for overall container*/
.flex-container#overall-page {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*For Navigation Bar*/
/* Add a black background color to the top navigation */
.navBar {
    background-color: #5656EB;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.navBar .items a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.navBar .items a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.navBar .items  a.active {
    background-color: #C66AD8;
    color: white;
}

/*For autocomplete boxes */
* { box-sizing: border-box; }

body {
    font: 16px Arial;
}
/*Hero section*/
.flex-container#hero {
    font-family: 'Major Mono Display', monospace;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
    background-color: #CCBC71;
    text-align:center;
}

/*Results section*/
.flex-container#results{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: #78A778;
}

/*Footer section*/
.flex-container#footer{
    display:flex;
    background-color: #5656EB;
    height:100px;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

input {
    border: 5px solid transparent;
    border-radius: 8px;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    width: 50%;
}
input[type=text] {
    background-color: #c7a7c7;
    width: 20%;
    transition: width 0.4s ease-in-out;
    text-align:center;
}
input[type=text]:focus {
    background-color: #ffffff;
    width: 100%;
    text-align:center;
}

div.button {
    flex-direction: column;
    alignment-baseline: center;
}
button {
    font-size: 16px Arial;
    width: 120px;
    height: 50px;
    background-color: #5656EB;
    color: white;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}
